@use "mixin" as *;
@use "variables" as *;

body {
  color: $colorBlack;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0;
  word-break: break-all;
  overflow-x: hidden;
  opacity: 0;
  @include mq() {
    font-size: 14px;
  }
}

section {
}

.wrapper {
}

a,
button {
  transition: all 0.3s;
  @include hover {
    opacity: 0.7;
  }
}

.display-pc {
  display: block;
  @include mq() {
    display: none;
  }
}

.display-sp {
  display: none;
  @include mq() {
    display: block;
  }
}

/*__ lenis setting _______________________*/
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
