$colorBlack: #252525;
$colorWhite: #ffffff;

$colorYellow: #9f8224;
$colorRed: #c64054;

$colorPink: #ea9ab0;
$colorGreen: #005142;
$colorGreen2: #009377;
$colorLightGreen: #58c449;
$colorBlue: #759fd0;

$colorGray: #dedede;
$colorGray2: #b6b6b6;
$colorLiteBlue: #36f3ff;
$colorLiteGray: #f5f5f5;

$colorMain: #a57a45;
