@charset "utf-8";

@function get_vw($size, $viewport: 390) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}
@mixin fz_vw($font_size: 10, $viewport: 390) {
  font-size: $font_size * 1px;
  font-size: get_vw($font_size, $viewport);
}

@function pixel_to_percent($targetW, $parentW) {
  @return 100% * calc($targetW / $parentW);
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

/*__ font _______________________*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Sawarabi+Mincho&family=Shippori+Mincho+B1&display=swap");

@mixin font {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*__ breakpoint _______________________*/
$breakpoints: (
  "xs": "screen and (max-width: 320px)",
  "sm": "screen and (max-width: 449px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 950px)",
  "xl": "screen and (max-width: 1366px)",
) !default;
$breakpoints2: (
  "xs": "screen and (min-width: 320px)",
  "sm": "screen and (min-width: 449px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 950px)",
  "xl": "screen and (min-width: 1366px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mqr($breakpoint: md) {
  @media #{map-get($breakpoints2, $breakpoint)} {
    @content;
  }
}
